.footer-container {
  width: 100%;
  height: 100%;
  background-color: royalblue;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  margin-top: auto;
}

.copyright-text {
  color: white;
  text-align: center;
}
.instagram-icon {
  width: 30px;
  height: 30px;
}
